.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 920px;
  height: 100vh;

  margin: 0 auto;
  padding: 1rem;
}

.container main {
  display: flex;
  flex-direction: column;

  gap: .9rem;
}